body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    color: #515151;
    overflow-x: hidden;
}

header {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Header */
.main-header {
    position: relative;
    width: 100%;
    background-color: rgb(233, 104, 104);
    box-shadow: 0 2px 32px rgba(0, 0, 0, 0.15);
}

.main-header.can-sticky {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    padding: 0;
}


